.ui.link.cards
  a.card( ng-repeat="item in announcements" ing-href="{{'/announcements/' + item.id}}" )
    img.ui.image.medium( ng-src="{{item.images[0].picture.url}}" ng-if="item.images.length > 0" )
    .content( ng-bind="truncatedText()" )



